html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  overflow: scroll;
  scrollbar-color: white;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
  transition: background-color 0.3s, color 0.3s;
}
footer {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: auto;
}

footer img {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: bottom;
}
h1 {
  text-align: center;
  font-size: 100px;
}
h3 {
  text-align: center;
  font-size: 20px;
}
.waves {
  z-index: 2;
}

.main-text {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 20px;
}
.navbar-container {
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(0,102,153);
  background: linear-gradient(90deg, rgba(0,102,153,1) 35%, rgba(6,147,227,1) 69%, rgba(6,172,227,1) 100%);
  padding: 10px 20px;
  border-radius: 0 0 20px 20px;
  margin: 0;
  position: sticky;
  top: 0;
  left: 10px;
  right: 10px;
  width: 100%;
  max-width: calc(100% - 20px);
  box-sizing: border-box;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 14px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.logo:hover {
  background-color: #0451a5;
}

.logo {
  font-size: 40px;
  font-weight: bold;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  font-size: 25px;
}
.menu a:hover {
  background-color: #058ea5;
}
.popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  opacity: 1;
  transition: opacity 0.5s;
  z-index: 1000; 
}
.game-card {
  background: rgb(0,102,153);
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  transition: transform 0.3s;
}

.game-card:hover {
  transform: translateY(-5px);
}

.game-link {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
}

#gamesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.search-input {
  margin: 20px 0;
  padding: 10px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
}

.iframe-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  display: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 999;
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.button-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 1000;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  width: 50px;
  height: 50px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
}

.btn:hover {
  background-color: #0056b3;
}

.blur-background {
  filter: blur(5px);
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  display: none;
}
